body {
	margin-top: 1rem;
}

.layout-container {
	display: flex;
	flex-direction: column;
	margin: auto;
}

img {
	object-fit: cover;
}

.header__nav,
.hero,
.event-search-form,
.footer-content,
.info-section,
.popular-events {
	max-width: 1200px;
	margin: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.header__nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	a {
		color: blue;
		text-decoration: none;
	}
	> li:first-of-type {
		a {
			display: flex;
			align-items: center;
			gap: 8px;
		}
		svg {
			transform: translateY(2px);
		}
	}
	a {
		color: black;
	}
	a:visited {
		color: inherit;
	}
}

.header__nav-submenu {
	ul {
		display: flex;
		list-style: none;
		gap: 3rem;
		padding: 0px;
	}
	a:hover {
		color: var(--primary-color);
	}
}

.header__responsive-menu-icon {
	color: var(--primary-color);
	cursor: pointer;
}

.header__spyglass-icon {
	color: var(--primary-color);
	cursor: pointer;
}

.header__create-account-button {
	background-color: var(--btn-primary-bgColor);
	color: var(--btn-primary-textColor);
	padding: var(--btn-primary-padding);
	border-radius: var(--btn-primary-borderRadius);
	border: var(--btn-primary-border);
	cursor: pointer;
}

.header__nav-right-container {
	display: flex;
	align-items: center;
	gap: 12px;
}

.header__responsive-menu-button {
	border: 0px;
	background: none;
	display: none;
}

.hero {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.hero__title-container {
	flex: 1;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: flex-start;
	h1 {
		font-size: 40px;
	}
}

.hero__title-buttons {
	display: flex;
	gap: 12px;
}

.hero__button-primary {
	background-color: var(--btn-primary-bgColor);
	color: var(--btn-primary-textColor);
	padding: var(--btn-primary-padding);
	border-radius: var(--btn-primary-borderRadius);
	border: var(--btn-primary-border);
	cursor: pointer;
}

.hero__button-secondary {
	background-color: var(--btn-secondary-bgColor);
	color: var(--btn-secondary-textColor);
	padding: var(--btn-secondary-padding);
	border-radius: var(--btn-secondary-borderRadius);
	border: var(--btn-secondary-border);
	cursor: pointer;
}

.hero__images {
	display: grid;
	grid-template-columns: 0.6fr 0.4fr;
	align-items: stretch;
	gap: 0.6rem;
	flex: 1;
}

.hero__title-chip {
	background-color: rgb(19, 133, 32);
	border-radius: 12px;
	color: white;
	font-size: small;
	padding: 0.5rem;
}

.hero__responsive-images {
	display: none;
}

.hero__image-container-second {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	img {
		aspect-ratio: 1/1;
		object-fit: cover;
		border-radius: 12px;
	}
}

.event-search-form-container {
	background-color: #6600ff18;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.hero {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.popular-events-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.info-section-container {
	background-color: rgb(121, 209, 121);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

footer {
	background-color: lightblue;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.event-search-form {
	display: flex;
	flex-direction: column;
}

input,
select {
	text-overflow: ellipsis;
	height: 2.5rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 0px;
}

.event-search-form__search-label {
	grid-area: search-label;
}
.event-search-form__category-label {
	grid-area: category-label;
}
.event-search-form__date-label {
	grid-area: date-label;
}

.event-search-form__search-input {
	grid-area: search-input;
}

.event-search-form__date-input {
	grid-area: date-input;
}

.event-search-form__category-select {
	grid-area: category-select;
}

.event-search-form__submit-button {
	grid-area: submit-button;
}

.event-search-form__input-container {
	display: grid;
	margin-top: 20px;
	grid-template-columns: 1fr 1fr 1fr auto;
	grid-template-areas: "search-label category-label date-label ." "search-input category-select date-input submit-button";
	gap: 12px;
}

.event-search-form__date-label {
	grid-area: date-label;
}

.event-search-form__date-submit-paragraph {
	display: grid;
	align-items: flex-start;
	grid-template-areas: "date-label date-label";
}

.event-search-form__submit-button {
	background-color: var(--btn-primary-bgColor);
	color: var(--btn-primary-textColor);
	padding: 12px;
	margin-left: 12px;
	border-radius: var(--btn-primary-borderRadius);
	border: var(--btn-primary-border);
	cursor: pointer;
}

.event-search-form__date-and-submit-container {
	display: flex;
	flex-direction: row;
}

.popular-events__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	a{
		color: blue;
		font-weight: bold;
	}
}

.popular-events__events{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:1.5rem;
	margin-top: 12px;
}

.popular-events__card-info-container{
	padding:1rem;
	display: flex;
	flex-direction: column;
	gap:8px;
}

.popular-events__event-card{
	border:1px solid rgba(0, 0, 0, 0.174);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.054), 0 6px 20px 0 rgba(0, 0, 0, 0.073);
	border-radius: 8px;
	overflow: hidden;
	img{
		object-fit: cover;
		width: 100%;
		height: 200px;
	}
}

.popular-events__card-info-header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

.popular-events__card-info-header-chip{
	background-color: purple;
	border-radius: 12px;
	color: white;
	font-size: small;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}

.info-section{
     margin:auto;
	display:flex;
	gap: 12px;
	justify-content:center;
	text-align:center;
	article{
		display:flex;
		flex-direction: column;
		gap: 8px;
	}
}

/* Responsive design tablet */
@media (max-width: 1024px) {
	.hero {
		flex-direction: column;
	}
	.hero__images {
		display: none;
	}
	.hero__responsive-images {
		display: grid;
		grid-template-columns: 3fr 2fr 3fr;
		gap: 1rem;
		img {
			height: 400px;
			width: 100%;
		}
	}
	.header__responsive-menu-button {
		display: flex;
		align-items: center;
	}
	.header__create-account-button {
		display: none;
	}
	.header__responsive-menu-icon {
		color: var(--primary-color);
	}
	.header__nav-submenu {
		display: none;
	}

	.event-search-form__input-container {
		grid-template-columns: auto auto;
		grid-template-areas: "search-label category-label" "search-input category-select" "date-label ." "date-input submit-button";
	}
	.event-search-form__submit-button {
		justify-self: flex-start;
	}
	.event-search-form__submit-button {
		margin-left: 0px;
	}

	.popular-events__events{
		grid-template-columns: 1fr 1fr;
	}
}

/* Responsive design mobile */
@media (max-width: 768px) {
	.hero__responsive-images {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		img {
			height: auto;
			aspect-ratio: 1/1;
		}
	}
	.hero-buttons {
		flex-direction: column;
	}
	.event-search-form__input-container {
		grid-template-columns: auto;
		grid-template-areas: "search-label" "search-input" "category-label" "category-select" "date-label" "date-input" "submit-button";
	}
	.event-search-form__submit-button {
		margin-left: 0px;
		margin-top: 8px;
	}

	.popular-events__events{
		grid-template-columns: 1fr;
	}

	.popular-events__event-card{
	img{
		height: 260px;
	}
}
}
