body{
    max-width: 1200px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.layout-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.container-main{
    > section{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

img{
    object-fit: cover;
}

.hero{
    display: flex;
    align-items: flex-start;
    gap:1rem;
}

.hero__title-container{
    flex: 1;
    display: flex;
    gap:1rem;
    flex-direction: column;
}

.hero-buttons{
    display: flex;
    gap:12px;
}

.hero__images{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    align-items: stretch;
    gap: 0.6rem;
    flex: 1;
}

.hero__images-responsive{
    display: none;
}



    img{
        object-fit: cover;
        border-radius: 12px;
    }


.hero__image-container-second{

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
        img{
            aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 12px;
    }
}

/* Responsive design tablet */
@media (max-width: 1024px) {
    .hero{
        flex-direction: column;
    }
    .hero__images{
        display: none;
    }
    .hero__images-responsive{
        display: grid;
        grid-template-columns:3fr 2fr 3fr;
        gap:1rem;
        img{
            height: 400px;
            width: 100%;
        }
    }
}

/* Responsive design mobile */
@media (max-width: 768px) {
 .hero__images-responsive{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        img{
            height: auto;
            aspect-ratio: 1/1;
        }
    }
     .hero-buttons{
        flex-direction: column;
    }
}