:root {
    /* Fonts */
    --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
    --font-poppins: 'Poppins', system-ui, -apple-system, sans-serif;

    /* Brand Colors */
    --purple-100: rgb(237, 239, 255);
    --purple-200: rgb(221, 225, 255);
    --purple-400: rgb(125, 125, 255);
    --purple-600: rgb(96, 40, 254);
    --purple-800: rgb(60, 0, 170);
    --indigo-100: rgb(232, 237, 247);

    /* Neutral Colors */
    --gray-50: rgb(247, 251, 255);
    --gray-100: rgb(239, 244, 250);
    --gray-300: rgb(202, 209, 219);
    --gray-400: rgb(151, 160, 171);
    --gray-600: rgb(74, 85, 101);
    --gray-900: rgb(14, 17, 31);
    --gray-950: rgb(14, 17, 31);
    --white: rgb(255, 255, 255);

    /* Utility Colors */
    --mint-50: rgb(238, 250, 244);
    --mint-200: rgb(208, 236, 223);
    --emerald-100: rgb(226, 249, 225);
    --emerald-800: rgb(29, 129, 21);
    --orange-100: rgb(255, 244, 207);
    --orange-800: rgb(160, 98, 0);
    --pink-100: rgb(255, 229, 242);
    --pink-800: rgb(170, 0, 109);
    --blue-100: rgb(207, 235, 255);
    --blue-800: rgb(0, 73, 193);

    /* Spacing */
    --spacing: 0.25rem;
}



/* ==========================================
    Basic reset & typography
   ========================================== */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/*** Global/base styles ***/

body {
    font-family: var(--font-inter);
    color: var(--gray-900);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-poppins);
    text-wrap: balance;
    line-height: 1.1;
}

p {
    text-wrap: pretty;
}



/* Custom premium scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--gray-50);
}

::-webkit-scrollbar-thumb {
    background: var(--gray-300);
    border-radius: 5px;
    border: 2px solid var(--gray-50);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--purple-400);
}


/* Kevin Powell's content-grid layout pattern */
.content-grid {
    --padding-inline: calc(var(--spacing) * 6);
    --content-max-width: 75rem;
    --breakout-max-width: 85rem;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] minmax(min(100% - (var(--padding-inline) * 2), var(--content-max-width)), 1fr) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.breakout, .full-width),
.full-width> :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}


/* Screen-reader utility (Visually Hidden) */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
